body {    
    background-color: #0d1017;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    width: 100%;
}

h1 {
    font-family: Mona Sans;
    color: #e4e9ef
}

h2 {
    font-family: Mona Sans;
    color: #e4e9ef
}

h3 {
    font-family: Mona Sans;
    color: #e4e9ef
}

p {
    font-family: Mona Sans;
    color: #e4e9ef
}

.nav {
    background: #010409;
    border: 1px solid #3a3d44;
    padding: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    background-color: #010409;
    border: 1px solid #3a3d44; 
    width: 200px ;
    height: 30px;
    color: #e4e9ef ;
}

.search_position {
    display: flex;
    gap: 5px;
    
}

.social_icon {
    border-radius: 30%;   
    width: 30px;
    height: 30px;
}

.social_icons {
    display: flex;
    gap: 5px
}

.phone_perfil {
    border: 1px solid #3a3d44;
    border-radius: 50%;

    width: 100px;      
    max-width: 100%;   
    object-fit: cover;

    display: block;
    margin: 3px auto;
}

.border {
    background: #010409;
    border: 1px solid #3a3d44;
    border-radius: 10px;
    padding: 10px;

    width: 500px;    
    height: auto;
    
    display: flex;
    flex-direction: column;

    margin: 35px auto;
}

.projects {
    background: #0d1017;
    width: 240px;    
    height: 100px;
    border: 1px solid #e4e9ef;
    border-radius: 10px;
    margin: 0px;

    display: inline-flex;
    margin-right: 3px;
    margin-left: 3px;
    color: #5388d0;
}

.footer {
    background: #010409;
    padding: 1px;
    text-align: center;
}
